.carta {
    display: grid;
    text-align: center;
    width: 550px;
    background-color: #fdff00;
    justify-items: center;
    margin: 20px;
    line-height: 1px;
    height: 600px;

 
}

.nameContainer {
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1px;
    /* padding: 0; */
    line-height: 1.2;
}
