.detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    color: white;
    margin: 20px;
    border: 10px double blue;
    border-radius: 20px;
}

.imgID {
    display: inline;
    border: 10px double blue;
    border-radius: 20px;
    padding: 20px;
}

.nprrg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    border: 10px double blue;
    border-radius: 20px;
    padding: 40px;
    height: 350px;
    margin-top: 100px;
}

.nonDescription {
    display: flex;
    flex-direction: row;
    margin: 20px;

}

.image {
    border-radius: 20px;
    width: 600px;
    height: 550px;
}

.description {
    margin: 30px;
    border: 10px double blue;
    border-radius: 20px;
    padding: 20px;
}