.allFilters{
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    height: 25px;
    border-radius: 20px;
    & select {
        font-family: 'PressStart2P-Regular', sans-serif;
        border-radius: 20px;

    }
}

.filtro1{
    background-color: red ;
    transition: 0.3s ease;
}
.filtro1:hover{
    background-color: blue;
    color: white;
}


.filtro2{
    background-color: #ea82e5;
    transition: 0.3s ease;
}
.filtro2:hover{
    background-color: blue;
    color: white;
}


.filtro3{
    background-color: orange;
    transition: 0.3s ease;
}
.filtro3:hover{
    background-color: blue;
    color: white;
}


.filtro4{
    background-color: aqua;
    transition: 0.3s ease;
}
.filtro4:hover{
    background-color: blue;
    color: white;
}
