.landing{
    display: grid;
    justify-items: center;
    background-color: black;
    width: 700px;
    justify-content: space-evenly;
    margin-inline: auto;
    margin-top: 50px;
    padding: 10px;
    border: 10px double #0084ff; 
    border-radius: 20px; 
}

.tittle{
    color: white;
}

.pressStart{
    filter: invert(0%);
    transition: filter 0.5s ease;
    border-radius: 20px; 
}

.pressStart:hover{
    filter: invert(100%);
}