.agregar{
    background: white;
    margin: 5px;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
}

.barra{
    margin: 5px;
    border-radius: 20px;
    font-size: 16px;
    padding: 5px 10px;
}

input[type="search"] {
    font-family:  'PressStart2P-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}